* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background: linear-gradient(135deg, #020617, #6366f1, #22c55e);
    background-attachment: fixed;
    color: #ffffff;
    

}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;
    letter-spacing: -2px;
    margin-left: 400px;
    animation: fadeInUp 0.8s;

}
p{
    font-size: 25px;
    margin-left: 500px;
    padding-top: 15px;
    opacity: 1;
    color: #8fb0dd;
    animation: fadeInUp 0.8s forwards 0.1s;
}

.form1{
    margin-top:50px;
    animation: fadeInUp 0.8s forwards 0.1s;
}
.form2{
    margin-top:10px;
    animation: fadeInUp 0.8s forwards 0.1s;
}
.form3{
    margin-top:10px;
    animation: fadeInUp 0.8s forwards 0.1s;
}

.label1{
    margin-left:15px;
    font-size: 25px;
    margin-top:px;
}

fieldset, h2{
    animation: fadeInUp 0.8s forwards 0.1s;
}

.entry1{
    margin-left: 10px;
    border-radius: 10%;

}
.entry2{
    margin-left: 30px;
}
.entry3{
    margin-left: 65px;
}


.label2{
    margin-left:15px;
    font-size: 25px;
    margin-top:50px;
    
}
.label3{
    margin-left:15px;
    font-size: 25px;
    margin-top:50px;
    
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

legend{
    margin-top: 30px;
}

button {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 600;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    margin-left: 10px;
    margin-top:20px;

}

button:hover {
    background: white;
    color: #020617;
    transform: translateY(-5px);
}

.fade-in {
    animation: fadeIn 1.2s ease-out;
}



@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    body {
        padding: 40px 20px;
    }
}
   
