* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #222;
    line-height: 1.7;
    padding: 40px 60px;
    overflow-x: hidden; 
}

body {
     background: linear-gradient(135deg, #020617, #0f766e);
    background-attachment: fixed; 
}

.section-wrapper {
    position: relative; 
    max-width: 1000px;
    margin-bottom: 20px; 
}

.independent-img2 {
    position: absolute; 
    top: -20px;
    right: -350px;     
    width: 570px;
    height: 420px;
    border-radius: 15px;
    mix-blend-mode: multiply; 
    filter: contrast(110%);
}



.independent-img {
    position: absolute; 
    top: 600px;
    margin-left: -130px;     
    width: 550px;
    height: 360px;
    border-radius: 15px;
    mix-blend-mode: multiply; 
    filter: contrast(110%);
}

.independent-img3 {
    position: absolute; 
    top: 480px;
    left: -10px;     
    width: 550px;
    height: 320px;
    margin-left: 750px;
    border-radius: 10px;
    mix-blend-mode: multiply; 
    filter: contrast(110%);
}

.independent-img4 {
    position: absolute; 
    top: -60px;
    left: -10px;     
    width: 540px;
    height: 300px;
    margin-left: 200px;
    border-radius: 10px;
    mix-blend-mode: multiply; 
    filter: contrast(110%);
}


img {
    margin-left: 20px;
    background-color: transparent; 
    margin-top: 120px;
}

.divider-line {
    width: 100%;            
    height: 2px;            
    margin: 40px 0;            
    margin-top:100px;
    margin-left: 200px;
    background: linear-gradient(
        90deg, 
        transparent 0%, 
        rgba(208, 246, 242, 0.5) 50%, 
        transparent 100%
    );
    border: none;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 640px;
}

h2 {
    font-size: 23px;
    color: #94a3b8;
    margin-bottom: 40px;
    margin-left: 575px;
    opacity: 0.2;
}

.title1 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 70px; 
    margin-left: 150px;
    display: inline-block;
    position: relative; 
    white-space: nowrap;
}

.title1::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    margin-left: -255px;
    width: 150%; 
    height: 2px;
    background: linear-gradient(-90deg, #60fdd9 0%, transparent 90%);
}

.title2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 70px; 
    margin-left: 970px;
    display: inline-block;
    position: relative; 
    white-space: nowrap;
}

.title2::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 150%; 
    height: 2px;
    background: linear-gradient(90deg, #60fdd9 0%, transparent 90%);
}

.title3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 70px; 
    margin-left: 200px;
    display: inline-block;
    position: relative; 
    white-space: nowrap;
}

.title3::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    margin-left: -525px;
    width: 150%; 
    height: 2px;
    background: linear-gradient(-90deg, #60fdd9 0%, transparent 90%);
}

.title4 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 70px; 
    margin-left: 970px;
    display: inline-block;
    position: relative; 
    white-space: nowrap;
}

.title4::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 150%; 
    height: 2px;
    background: linear-gradient(90deg, #60fdd9 0%, transparent 90%);
}

.info-box1 {
    background-color: rgb(222, 253, 242,0.8);
    color: #111;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    max-width: 600px; 
    margin-top: 10px;
    margin-left: 130px;
}

.info-box2 {
    background-color: rgb(222, 253, 242,0.8);
    color: #111;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    max-width: 500px; 
    height: 280px;
    margin-top: 10px;
    margin-left: 800px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
      
}

.info-box3 {
    background-color: rgb(222, 253, 242,0.8);
    color: #111;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    max-width: 500px; 
    height: 280px;
    margin-top: 20px;
    margin-left: 190px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
      
}
.info-box4 {
    background-color: rgb(222, 253, 242,0.8);
    color: #111;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    max-width: 500px; 
    height: 280px;
    margin-top: 20px;
    margin-left: 770px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
      
}
.divider {
    width: 1400px;
    height: 1px;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
}
ul {
    list-style-type: disc;
    padding-left: 25px;
    margin-top: 1%;
}

li {
    margin-bottom: 10px;
}

.fade-in, .fade-in_2, .fade-in_3 {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.fade-in { animation-delay: 0s; }
.fade-in_2 { animation-delay: 0.4s; }
.fade-in_3 { animation-delay: 0.8s; }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .independent-img {
        position: static; 
        width: 100%;
        margin-top: 20px;
        mix-blend-mode: normal; 
    }
    .info-box {
        max-width: 100%;
    }
}
