
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #020617, #0f766e);
    background-attachment: fixed;
    color: #80CBC4;
    line-height: 1.7;
    padding: 60px;
    overflow-x: hidden;
    min-height: 100vh;
}


h1 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center; 
    letter-spacing: -2px;
    opacity: 0; 
    animation: fadeInUp 0.8s forwards;
    white-space: nowrap;
}

h2 {
    font-size: 30px;
    color: #B2DFDB; 
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    opacity: 0; 
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.2s; 
}

h3 {
    font-size: 20px;
    color: #61d8c2; 
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    opacity: 0; 
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.2s; 
}

p {
    font-size: 18px;
    color: #e2e8f0;
    margin-bottom: 15px;
    opacity: 0; 
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.4s; 
}


ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

li {
    margin-top: 0px;
    font-size: 16px;
    list-style-type: square;
    color: #ffffff;
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.6s;
    opacity: 0;
}


.Comp_Assemb{
    margin-top: 30px;
    margin-left: 25%;
    height: 400px;
    width: 700px;
    animation: fadeInUp 0.8s forwards;
    
    
}

.image-row {
  margin-top:100px;
  display: flex;           
  justify-content: center;  
  gap: 25px;               
  margin: 100px 0;          
}

.image-row img {
  width: 45%;             
  max-width: 500px;        
  height: 420px;            
  border-radius: 8px; 
  animation: fadeInUp 0.8s forwards;     

}

.logic_gates{
  margin: 100px;
  margin-left:210px;
  max-width: 1200px;                    
  height: 600px;            
  border-radius: 8px; 
  animation: fadeInUp 0.8s forwards;

}




@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
